* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
}

h2 {
    font-size: 30px;
    color: rgb(255, 0, 0);
} 

label {
    font-size: 15px; 
    color: red;
} 

button {
    font-size: 30px; 
    color: red;
}

#container {
    display: grid;
    grid-template-columns: 300px auto;
    height: 100vh;
    width: 100vw;
}

#aside {
    background: #f2f2f2;
    padding: 20px;
}

#aside input, #aside button {
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 8px;
    width: 100%;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: relative; /* wichtig für absolute Positionierung von #preview */
}

#preview {
    width: 300px;
    height: 450px; /* Hochformat 2:3 */
    border: 1px solid #ccc;
    background: #fff;
    overflow: hidden; /* Texte bleiben innerhalb */
    position: absolute; /* nötig für Resize-Handle */
}

.text-block {
    position: absolute;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}


